<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913853010533-ds2r664kpa3h9kbtsjb87r4mhpq0707j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913853010533-ds2r664kpa3h9kbtsjb87r4mhpq0707j</string>
	<key>API_KEY</key>
	<string>AIzaSyB2ugxEfiNys-NaLxHR5Oe89j0HMR1uaEg</string>
	<key>GCM_SENDER_ID</key>
	<string>913853010533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KyleJSh.Journal-App</string>
	<key>PROJECT_ID</key>
	<string>journal-app-d1e8b</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-app-d1e8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913853010533:ios:9e121f8a751cd8e60dec8c</string>
</dict>
</plist>